<%= link_to  "Index", events_path %>
<%= link_to 'Create event', new_event_path %>
<% if user_signed_in? %>
  <%= link_to  "Sign out", destroy_user_session_path %>
  <%= link_to  "Profile", user_path(current_user) %>
<% end %>
<h1>
  <%= @event.name %>
</h1>
<h2>Date</h2>
<%= @event.date %>
<h2>Place</h2>
<%= @event.place %>
<%= form_with url: '/join', method: :post do |f|%>
  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.submit 'Join this event' %>
<% end %>
<h2>Attendees</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li> <%= attendee.email %> </li>
  <% end %>
</ul>